# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# Test/coverage
.coverage
.pytest_cache/
htmlcov/
.cache/

# Packaging
*.egg-info/
build/
dist/

# Pipenv / Poetry
Pipfile.lock
poetry.lock

# Docker logs
*.log

# ----------------------------
# ✍️ Editor backups
# ----------------------------
*.swp
*.bak
*.tmp